body, html{
	font-family: Andale Mono, monospace; /*familia de fonturi aplicata intregii pagini*/
	font-weight: bold; /*litere boldate*/
	font-variant: small-caps; /*litere mici si mari*/
	height: 100%;/*pt a se intinde pe toata pagina*/
	margin: 0; /*fara margine*/
	background-image: url("images/adminAddAnunt.jpg"); /*imaginea de fundal*/
	background-position: center; /*centrare imagine*/
	background-repeat: no-repeat; /*nu se repeta imag de fundal*/
	background-size: cover; /*imag acopera intreaga pagina*/
	position: relative; /*poztionare relativa*/
}

* {
  box-sizing: border-box; /*pt ca elementele sa nu depaseasca limitele impuse*/
}

.container{
	position: absolute; /*pozitionare absoluta*/
	left: 0; /*aliniere la stanga*/
	bottom:0; /*coltul de jos*/
	margin: 30px; /*marigine de 30px*/
	padding: 16px; /*spatiere 16 px*/
	background-color: #006400; /*culoare de fundal*/
	border-radius: 30px; /*margine rotunjita*/
}

.btn {
	background-color: #4CAF50; /*culoare fundal buton*/
	color: white; /*culoare text*/
	padding: 50px; /*spatiere 50 px*/
	text-align: center; /*centrare text*/
	border: none; /*fara margine*/
	cursor: pointer;
	width: 25%; /*se intinde pe 25% din lungimea elementului in care se gaseste*/
	opacity: 0.9; /*transparenta*/
	border-radius: 10px; /*margine rotunjita*/
}

.btn:hover { /*cum se schimba butonul cand e mouse-ul pe el*/
	opacity: 1;
}

.box {
	position: absolute; /*pozitionare absoluta*/
	margin: 20px; /*margine 20px*/
	width: auto; /*autodimensionare in latime*/
	right: 0; /*aliniere la dreapta*/
}
.navbar{
	overflow: hidden; /*ce depaseste elementul nu se mai afiseaza*/
	background-color: #333; /*culoare fundal*/
}

.navbar a {
  float: left; /*adaugare element in stanga celulilalt*/
  color: #f2f2f2; /*culoare text*/
  text-align: center; /*centrare text*/
  padding: 20px 20px; /*spatiere sus-jos 20px, stanga-dreapta 20px*/
  text-decoration: none; /*text simplu*/
  font-size: 27px; /*dimensiune font*/
}

.navbar a:hover { /*cum se schimba bara de navigatie cand mouse-ul este pe ea*/
  background-color: #ddd;
  color: black;
}

table.center{ /*centrare tabel*/
	margin-left: auto;
	margin-right:auto;
}
table, th, td{
	border: 1px solid black; /*margine de 1px*/
	border-collapse:collapse; /*fara borduri intre celule*/
}
th,td {
	padding: 15px; /*spatiere 15 px*/
	text-align: center; /*centrare text*/
}
table tr:nth-child(even){ /*colorare de tip zebra pt celule*/
	background-color: #6B8E23;
}
table tr:nth-child(odd) {
 	background-color: #fff;
}
table th { /*stil cap tabel*/
  	background-color: #2E8B57;
  	color: white;
}