body, html{
	font-family: Andale Mono, monospace; /*familia de fonturi aplicata intregii pagini*/
	font-weight: bold; /*litere boldate*/
	font-size: 30px; /*dimensiune text*/
	font-variant: small-caps;
	height: 100%;/*pt a se intinde pe toata pagina*/
	margin: 0; /*fara margine*/
	background-image: url("images/userProp.jpg"); /*imaginea de fundal*/
	background-position: center; /*centrare imagine*/
	background-repeat: no-repeat; /*nu se repeta imag de fundal*/
	background-size: cover; /*imag acopera intreaga pagina*/
	position: relative; /*poztionare relativa*/
}

* {
  box-sizing: border-box; /*pt ca elementele sa nu depaseasca limitele impuse*/
}

.btn{
	background-color: #4CAF50; /* culoare de fundal */
	color: white; /*culoare text*/
	text-align: center; /*centrare text*/
	border-radius: 30px; /*rotunjire margine*/
	width: 30%; /*se intinde pe 30% din lungimea elementului in care se gaseste*/
	font-size: 20px; /*dimensiune text*/
}

fieldset {
	background-color: #f2f2f2; /*culoare fundal*/
	border-color: blue; /*culoare margine*/
	border-radius: 30px; /*margine rotunjita*/
	padding: 20px; /*spatiere 20px*/
}
input[type=submit] { /*stil pentru butonul de submit*/
	background-color:#008080;
	padding: 12px 20px;
	border: none;
	font-family: Andale Mono, monospace;
	cursor: pointer;
}

input[type=submit]:hover { /*stil pt butonul de submit cand mouse-ul este pe el*/
	background-color: #45a049;
}
.column {
	float: left; /*elementul in partea stanga*/
	width: 50%; /*se intinde pe 50% din latime*/
	margin-top: 6px; /*marginea de sus de 6px*/
	padding: 20px; /*spatiere 20px*/
}

.row:after {
	content: "";
	display: table; /*afisare elemnte unul sub altul - tabel*/
	clear: both; 
}
@media screen and (max-width: 700px) { /*daca ecranul e mai mic de 700px, colonele trec unele sub altele*/
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}